In [ ]:
#用 Python dict 建立 DataFrame
import pandas as pd

dic = {
    "col 1": [1, 2, 3], 
    "col 2": [10, 20, 30],
    "col 3": list('xyz'),
    "col 4": ['a', 'b', 'c'],
    "col 5": pd.Series(range(3))
}
df = pd.DataFrame(dic)
df

In [ ]:
#改變 DataFrame 裡的欄位名稱
rename_dic = {"col 1": "hi", "col 2": "lala"}
df = df.rename(rename_dic, axis=1)
df

In [ ]:
#改變 DataFrame 裡的欄位名稱
#list(df.columns[3:]) 將沒改變名字的行補上去
df.columns = ['x(new)', '10x(new)',"asd"] + list(df.columns[3:])
df

In [ ]:
# 使用 pd.util.testing 隨機建立 DataFrame
test = pd.util.testing.makeDataFrame().head(2)
# head 函式預設用來顯示 DataFrame 中前 5 筆數據。要顯示後面數據則可以使用 tail 函式
test

In [ ]:
#makeMixedDataFrame 建立一個有各種資料型態的 DataFrame 方便測試
test2 = pd.util.testing.makeMixedDataFrame()
test2

In [ ]:
kaggle = pd.read_csv('http://bit.ly/kaggletrain')
kaggle.head(8) #head()顯示前幾筆 預設為5

In [14]:
base_url = "https://data.taipei/api/getDatasetInfo/downloadResource?id=2f238b4f-1b27-4085-93e9-d684ef0e2735&rid=8a319d4b-cadf-436e-8396-d1a356b6c886"
df_raw = pd.read_csv(base_url, encoding='big5')

# 複製一份做處理
df_copy = df_raw.copy()
df_raw

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,天候,速限,道路型態,事故位置
0,101,10,3,10,40,2,01大同區,大同區承德路與敦煌路口承德路 敦煌路,0,1,1,B03,1,30.0,3.0,8.0,0,4.0,2.0
1,101,10,3,10,40,2,01大同區,大同區承德路與敦煌路口承德路 敦煌路,0,1,2,C03,1,23.0,2.0,8.0,0,4.0,2.0
2,101,1,29,12,30,2,01大同區,大同區民權西路與延平北路口延平北路 民權西路,0,2,1,C03,1,73.0,2.0,8.0,50,4.0,1.0
3,101,1,29,12,30,2,01大同區,大同區民權西路與延平北路口延平北路 民權西路,0,2,2,C03,1,33.0,2.0,8.0,50,4.0,1.0
4,101,2,2,23,50,2,01大同區,大同區承德路與庫倫街口承德路 庫倫街,0,1,1,B03,1,20.0,3.0,7.0,50,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45945,101,11,26,17,10,2,07信義區,信義區忠孝東路5段與松信路口忠孝東路5段 松信路,0,1,2,C03,1,21.0,2.0,6.0,50,4.0,2.0
45946,101,11,2,17,29,2,07信義區,信義區忠孝東路5段忠孝東路5段(捷運站3號出口),0,1,1,C03,1,18.0,2.0,8.0,50,14.0,9.0
45947,101,11,2,17,29,2,07信義區,信義區忠孝東路5段忠孝東路5段(捷運站3號出口),0,1,2,B03,1,22.0,3.0,8.0,50,14.0,9.0
45948,101,5,7,20,0,2,07信義區,信義區松山路松山路287巷3弄21號前,0,1,1,C03,1,21.0,3.0,6.0,40,13.0,9.0
45949,101,5,7,20,0,2,07信義區,信義區松山路松山路287巷3弄21號前,0,1,2,H01,1,1.0,2.0,6.0,40,13.0,9.0

In [15]:
df_raw.to_csv("data.csv")

In [9]:
df_copy['區序'] = df_copy['區序'].apply(lambda x: ''.join([i for i in x if not i.isdigit()])) #apply 函數  对一个DataFrame进行逐行、逐列和逐元素的操作
df_copy = (df_copy[df_copy['性別'].isin([1, 2])]
      .groupby(['區序', '性別'])[['死亡人數', '受傷人數']]
      .sum()
      .reset_index()
      .sort_values('受傷人數'))

df_copy['性別'] = df_copy['性別'].apply(lambda x: '男性' if x == 1 else '女性')
df_copy = df_copy.reset_index().drop('index', axis=1)

# 顯示結果
df_copy

     區序  性別  死亡人數  受傷人數
0   南港區  女性     0   767
1   萬華區  女性     3  1042
2   松山區  女性     4  1239
3   大同區  女性     4  1422
4   信義區  女性     1  1538
5   士林區  女性     4  1852
6   大安區  女性     7  1890
7   南港區  男性     9  1980
8   中正區  女性     3  2021
9   文山區  女性     2  2066
10  內湖區  女性     3  2100
11  北投區  女性     3  2146
12  中山區  女性     2  2189
13  萬華區  男性    17  2524
14  松山區  男性     6  2776
15  信義區  男性     1  3073
16  大同區  男性    13  3284
17  大安區  男性    10  3913
18  士林區  男性    20  3951
19  內湖區  男性     9  4033
20  中正區  男性    10  4088
21  文山區  男性     5  4399
22  北投區  男性    10  4484
23  中山區  男性    15  5217

In [17]:
data = pd.read_csv("data.csv")
data.info(memory_usage="deep") #df.info 查看 DataFrame 當前的記憶體用量

# memory_usage:指定是否應顯示DataFrame元素(包括索引)的總內存使用情況。屏幕上將不顯示任何內容。memory_usage設置。 True或False會覆蓋顯示。memory_usage設置。 “ deep”的值與True相同

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45950 entries, 0 to 45949
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45950 non-null  int64
 1   發生年         45950 non-null  int64
 2   發生月         45950 non-null  int64
 3   發生日         45950 non-null  int64
 4   發生時         45950 non-null  int64
 5   發生分         45950 non-null  int64
 6   處理別         45950 non-null  int64
 7   區序          45950 non-null  object
 8   肇事地點        45950 non-null  object
 9   死亡人數        45950 non-null  int64
 10  受傷人數        45950 non-null  int64
 11  當事人序        45950 non-null  int64
 12  車種          45029 non-null  object
 13  性別          45950 non-null  int64
 14  年齡          43049 non-null  float64
 15  受傷程度        44731 non-null  float64
 16  天候          45785 non-null  float64
 17  速限          45950 non-null  int64
 18  道路型態        45785 non-null  float64
 19  事故位置        45785 non-null  float64
dtypes: float64(5), int64(12), object(3)
memory usage: 17.8 MB

In [21]:
#只取df內特定欄位

data = pd.read_csv("data.csv")

data[["區序","性別"]]

          區序  性別
0      01大同區   1
1      01大同區   1
2      01大同區   1
3      01大同區   1
4      01大同區   1
...      ...  ..
45945  07信義區   1
45946  07信義區   1
45947  07信義區   1
45948  07信義區   1
45949  07信義區   1

[45950 rows x 2 columns]

In [22]:
col =["區序","性別"]
data = pd.read_csv("data.csv",usecols=col) #讀取需要的欄位可以減少資源浪費 用 usecols=
data

          區序  性別
0      01大同區   1
1      01大同區   1
2      01大同區   1
3      01大同區   1
4      01大同區   1
...      ...  ..
45945  07信義區   1
45946  07信義區   1
45947  07信義區   1
45948  07信義區   1
45949  07信義區   1

[45950 rows x 2 columns]

In [25]:
from glob import glob
files = glob("data*.csv")

df = pd.concat([pd.read_csv(f) for f in files])
df.reset_index(drop=True)

# 這種時候你可以使用 pd.concat 將分散在不同 CSV 的乘客數據合併成單一 DataFrame
#  pandas 函式預設的 axis 參數為 0，代表著以列（row）為單位做特定的操作。在 pd.concat 的例子中則是將 2 個同樣格式的 DataFrames 依照列串接起來。
# pd.concat 函式搭配 axis=1 將不同 DataFrames 依照行（column）串接

# 1.glob.glob（pathname), 返回所有匹配的文件路徑列表。它只有一個參數pathname，定義了文件路徑匹配規則，這裏可以是絕對路徑，也可以是相對路徑。
# 2.glob.iglob(pathname), 獲取一個可編歷對象，使用它可以逐個獲取匹配的文件路徑名。與glob.glob()的區別是：glob.glob同時獲取所有的匹配路徑，而glob.iglob一次只獲取一個匹配路徑

,Unnamed: 0,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,天候,速限,道路型態,事故位置
0,0,101,10,3,10,40,2,01大同區,大同區承德路與敦煌路口承德路 敦煌路,0,1,1,B03,1,30.0,3.0,8.0,0,4.0,2.0
1,1,101,10,3,10,40,2,01大同區,大同區承德路與敦煌路口承德路 敦煌路,0,1,2,C03,1,23.0,2.0,8.0,0,4.0,2.0
2,2,101,1,29,12,30,2,01大同區,大同區民權西路與延平北路口延平北路 民權西路,0,2,1,C03,1,73.0,2.0,8.0,50,4.0,1.0
3,3,101,1,29,12,30,2,01大同區,大同區民權西路與延平北路口延平北路 民權西路,0,2,2,C03,1,33.0,2.0,8.0,50,4.0,1.0
4,4,101,2,2,23,50,2,01大同區,大同區承德路與庫倫街口承德路 庫倫街,0,1,1,B03,1,20.0,3.0,7.0,50,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45945,45945,101,11,26,17,10,2,07信義區,信義區忠孝東路5段與松信路口忠孝東路5段 松信路,0,1,2,C03,1,21.0,2.0,6.0,50,4.0,2.0
45946,45946,101,11,2,17,29,2,07信義區,信義區忠孝東路5段忠孝東路5段(捷運站3號出口),0,1,1,C03,1,18.0,2.0,8.0,50,14.0,9.0
45947,45947,101,11,2,17,29,2,07信義區,信義區忠孝東路5段忠孝東路5段(捷運站3號出口),0,1,2,B03,1,22.0,3.0,8.0,50,14.0,9.0
45948,45948,101,5,7,20,0,2,07信義區,信義區松山路松山路287巷3弄21號前,0,1,1,C03,1,21.0,3.0,6.0,40,13.0,9.0
45949,45949,101,5,7,20,0,2,07信義區,信義區松山路松山路287巷3弄21號前,0,1,2,H01,1,1.0,2.0,6.0,40,13.0,9.0

In [31]:
import pandas as pd
df = pd.util.testing.makeCustomDataframe(nrows=8,ncols=10)
df

C0,C_l0_g0,C_l0_g1,C_l0_g2,C_l0_g3,C_l0_g4,C_l0_g5,C_l0_g6,C_l0_g7,C_l0_g8,C_l0_g9
R0,,,,,,,,,,
R_l0_g0,R0C0,R0C1,R0C2,R0C3,R0C4,R0C5,R0C6,R0C7,R0C8,R0C9
R_l0_g1,R1C0,R1C1,R1C2,R1C3,R1C4,R1C5,R1C6,R1C7,R1C8,R1C9
R_l0_g2,R2C0,R2C1,R2C2,R2C3,R2C4,R2C5,R2C6,R2C7,R2C8,R2C9
R_l0_g3,R3C0,R3C1,R3C2,R3C3,R3C4,R3C5,R3C6,R3C7,R3C8,R3C9
R_l0_g4,R4C0,R4C1,R4C2,R4C3,R4C4,R4C5,R4C6,R4C7,R4C8,R4C9
R_l0_g5,R5C0,R5C1,R5C2,R5C3,R5C4,R5C5,R5C6,R5C7,R5C8,R5C9
R_l0_g6,R6C0,R6C1,R6C2,R6C3,R6C4,R6C5,R6C6,R6C7,R6C8,R6C9
R_l0_g7,R7C0,R7C1,R7C2,R7C3,R7C4,R7C5,R7C6,R7C7,R7C8,R7C9

In [34]:
df=df.reset_index(drop=True) 
df

# Pandas reset_index()是一種重置數據幀索引的方法。 reset_index()方法將範圍從0到數據長度的整數列表設置為索引。
# level:int，字符串或列表以選擇並從索引中刪除傳遞的列。
# drop:布爾值，如果為False，則將替換的索引列添加到數據中。
# inplace:布爾值，如果為True，則對原始 DataFrame 本身進行更改。
# col_level:選擇在哪個列級別插入標簽。
# col_fill:對象，以確定如何命名其他級別。

C0,R0,C_l0_g0,C_l0_g1,C_l0_g2,C_l0_g3,C_l0_g4,C_l0_g5,C_l0_g6,C_l0_g7,C_l0_g8,C_l0_g9
0,R_l0_g0,R0C0,R0C1,R0C2,R0C3,R0C4,R0C5,R0C6,R0C7,R0C8,R0C9
1,R_l0_g1,R1C0,R1C1,R1C2,R1C3,R1C4,R1C5,R1C6,R1C7,R1C8,R1C9
2,R_l0_g2,R2C0,R2C1,R2C2,R2C3,R2C4,R2C5,R2C6,R2C7,R2C8,R2C9
3,R_l0_g3,R3C0,R3C1,R3C2,R3C3,R3C4,R3C5,R3C6,R3C7,R3C8,R3C9
4,R_l0_g4,R4C0,R4C1,R4C2,R4C3,R4C4,R4C5,R4C6,R4C7,R4C8,R4C9
5,R_l0_g5,R5C0,R5C1,R5C2,R5C3,R5C4,R5C5,R5C6,R5C7,R5C8,R5C9
6,R_l0_g6,R6C0,R6C1,R6C2,R6C3,R6C4,R6C5,R6C6,R6C7,R6C8,R6C9
7,R_l0_g7,R7C0,R7C1,R7C2,R7C3,R7C4,R7C5,R7C6,R7C7,R7C8,R7C9